/* Custom CSS for Fixed Height Accordion Summary of the JC main accordions */
.fixed-height-accordion-summary-jc-component {
  background-color: #47d1d1;
  min-height: 55px;
  max-height: 55px;
  align-items: center;
  overflow: hidden;
}

.fixed-height-accordion-summary-jc-component.MuiAccordionSummary-content {
  margin: 0;
  overflow: hidden;
}

.fixed-height-accordion-summary-jc-component.Mui-expanded {
  min-height: 55px;
  max-height: 55px;
}

/* Custom CSS for Fixed Height Accordion Summary of the JC Table containing accordion */
.fixed-height-accordion-summary-jc-table-accordion {
  background-color: #a6b28c;
  min-height: 50px;
  max-height: 50px;
  align-items: center;
  overflow: hidden;
}

.fixed-height-accordion-summary-jc-table-accordion
  .MuiAccordionSummary-content {
  margin: 0;
  overflow: hidden;
}

.fixed-height-accordion-summary-jc-table-accordion.Mui-expanded {
  min-height: 50px;
  max-height: 50px;
}
