/* Calendar Header */
.rbc-header {
  background: #009999;
  color: whitesmoke;
  padding: 6px;
  font-size: 15px;
  font-weight: bold;
}

/* For the event  */
.rbc-event {
  padding: 0 !important;
  font-size: 18px;
  position: relative;
}

/* For the event label to display */
.rbc-event-label {
  display: none !important;
  display: flex;
  justify-content: flex-start;
}

.rbc-event-container {
  width: 100%;
}

.rbc-time-slot {
  background-color: #eaf3fa;
  color: #74a4c3;
  border-color: aqua;
  height: 50px;
}

.rbc-row,
.rbc-row-resource {
  height: 30px;
}

.rbc-row,
.rbc-time-header-cell {
  height: 40px;
}

.rbc-event-content {
  font-size: 13px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  width: 100%;
  text-align: left;
}

.rbc-row-segment {
  flex-basis: 100% !important;
}

/* ////////////////////////////////////////////////////////////////// */
