/* Calendar Header */
.rbc-header {
  background: #009999;
  color: whitesmoke;
  padding: 6px;
  font-size: 15px;
  font-weight: bold;
}

/* For the event  */
.rbc-event {
  padding: 0 !important;
  font-size: 18px;
  position: relative;
}

/* For the event label to display */
.rbc-event-label {
  display: none !important
}

.rbc-event-container {
  width: 100%;
}

/* .rbc-time-slot {
  background-color: #eaf3fa;
  color: #74a4c3;
  border-color: aqua;
} */


.rbc-toolbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* background-color: #5c5cd6; */
  /* Set background color */
  padding: 10px;
}