.certificate-title {
    text-align: center;
    width: 85%;
    margin: auto;
    padding: 3px;
    font-size: 12px;
}

.certificate-header>.logo {
    width: 98px;
    height: 110px;
    padding: 10px;
}

.certificate-content {
    margin: 0 auto;
    width: 100%;
}